body {
    background: #f1f1f1;
}

button {
    padding-left: 40px;
    border-style: none;
    cursor: pointer;

}

.nav-main {
    width: 150px;
    height: 150px;
    z-index: 1000;
    padding-left: 30px;
    display: none; 
}

.nav-main a {
    display: block;
    flex-wrap: wrap;
    list-style: none;
    line-height: 20px;
    margin: 1px;
    box-sizing: border-box;
    border-style: solid;
    padding-left: 10px;
    text-decoration: none;
}



.blue-background {
    background-color: blue;
    }

.red-background {
    background-color: red;
    }

.green-background {
    background-color: green;
    }

.yellow-background {
    background-color: yellow;
      }
    